// COLOR
// White
$white: #FFFFFF;

// Black
$black: #000000;
$black-darken-1: #19191C;
$black-darken-2: #262626;
$black-lighten-1: #292F39;

// Grey
$grey: #707070;
$grey-darken-1: #9E9E9E;
$grey-darken-2: #979797;
$grey-lighten-1: #BCBCBC;
$grey-lightest-2: #BBBBBB;

// Orange
$orange: #FF6C2C;

// Blue
$blue: #5EB6E1;

// Purple
$purple: #945B9F;
