@import 'variables';

.intro-screen {
  position: relative;

  .intro-img {
    width: 100vw;
  }

  .intro-screen-tips {
    font-family: 'Futura PT Light';
    font-size: 20px;
    color: #707070;
    position: absolute;
    top: 30%;
    left: 10%;
  }

  .intro-screen-title {
    font-family: 'Futura PT Medium';
    font-size: 50px;
    line-height: 100%;
    color: $white;
    position: absolute;
    top: 35%;
    left: 55%;
    transform: translateX(-100%);
  }

  .btn-intro-screen {
    font-family: 'Futura PT Light';
    font-size: 20px;
    color: #000000;
    position: absolute;
    top: 60%;
    left: 10%;
  }
}
