@import 'colors';

.footer {
  background-color: $black-darken-1;

  .mt-logo {
    transform: translateY(380%);
  }

  .footer-quick-contact, .footer-popular-tag {
    font-family: 'Futura PT Medium';
    font-size: 20px;
    color: $white;
  }

  .footer-address {
    font-family: 'Futura PT Book';
    font-size: 17px;
    color: $grey-lighten-1;
  }

  .footer-phone-number, .footer-email {
    font-family: 'Futura PT Medium';
    font-size: 13px;
    color: $grey-lightest-2;
  }

  .btn {
    color: $white;
    border-radius: 0;
    font-size: 13px;

    &.btn-inactive {
      background-color: $black-darken-1;
      border-color: $grey-lightest-2;
      color: $grey-lightest-2;
    }
  }

  .footer-navbar {
    font-family: 'Futura PT Demi';
    font-size: 16px;
    background-color: $blue;
  }

  .footer-background {
    font-family: 'Futura PT Light';
    font-size: 14px;
    color: $grey;
  }
}
