@import 'header';
@import 'container';
@import 'footer';
@import 'fonts';

@import 'colors';

.be-strong-logo {
  height: 22px;
}

.icon-small {
  height: 8px;
}

.icon-medium {
  height: 16px;
}

.icon-large {

}

.btn {
  background-color: $blue;
  border-color: $blue;
}
