@import 'header';
@import 'container';
@import 'footer';
@import 'fonts';

@import 'colors';

.be-strong-logo {
  height: 22px;
}

.icon-small {
  height: 8px;
}

.icon-medium {
  height: 16px;
}

.btn {
  background-color: $blue;
  border-color: $blue;
}

h5 {
  font-family: 'Futura PT Medium';
  font-size: 40px;
}

hr {
  color: $blue;
  border-top: solid $blue 2px;
}

.intro {
  padding-left: 20rem;
  padding-right: 20rem;
}
